<html lang='en'>
    <head>
        <link rel='stylesheet' href='./web-server/public/css/style.css' />
        <script src='../app.js'></script>
    </head>
    <body>
        <h1>{{title}}</h1>
    </body>
</html>
